*{
    font-family: cursive;
}

:root{
    --background:rgba(245, 242, 235, 0.5);
    --gridColor: rgba(216,220,238,255);
}
body {
    background-image: url("home.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
form {
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-areas: 'personal_details education military_service work_experience languages';
    text-align: center;
    background-color: var(--gridColor);
    animation-name: changeBackground;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    ;
}
@keyframes changeBackground{
    0% {background-color: var(--gridColor);}
    50% {background-color: wheat;}
    100% {background-color: var(--gridColor);}
}
.Personal_Details{
    grid-area: personal_details;
    background-color:var(--background) ;
    padding: 3px;
    border-radius: 5px;
    margin: 10px;
}
.Education{
    grid-area: education;
    background-color:var(--background) ;
    padding: 3px;
    border-radius: 5px;
    margin: 10px;
}
.militaryService{
    grid-area: military_service;
    background-color:var(--background) ;
    padding: 3px;
    border-radius: 5px;
    margin: 10px;
}
.Work_Experience{
    grid-area: work_experience;
    background-color:var(--background) ;
    padding: 3px;
    border-radius: 5px;
    margin: 10px;
}
.Languages{
    grid-area: languages;
    background-color:var(--background) ;
    padding: 3px;
    border-radius: 5px;
    margin: 10px;
}
input[type="text"]{
    border-radius: 5px;
}